* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(./public/images/bg.png);
    background-repeat: no-repeat;
    background-color: #ffe2ae;
}

header {
    /* height: 15vh; */
    width: 100%;
    /* background-color: #F3DBDE; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* position: sticky; */
    
}

#icon {
    flex: 2;
    padding: 20px 200px
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */

}

#icon img {
    height: auto;
    width: 50%;

}

header ul {
    display: flex;
    flex: 4;
    justify-content: right;
    padding-right: 4vw;
    gap: 3vw;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
}

header ul li {
    list-style: none;
    cursor: pointer;
}

header ul li:hover {
    color: brown;
}

header ul a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}


.hero-section {
    height: 85vh;
    width: 100%;
    /* background-image: url(./public/images/bg1.png); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 130px;
}

.hero-section h1 {
    color: #5e2f1e;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
}

.hero-section p {
    color: #303030;
    text-align: center;

}

.homebtn {
    display: flex;
    gap: 45px;
}

.btn1 {
    color: #F3F3F3;
    background-color: #1f1f1f;
    height: 65.654px;
    width: 270.748px;
    border-radius: 14.525px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.product-heading {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    font-size: 20px;
}
.showreel-heading {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    font-size: 20px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 350px;
    height: 70vh;

}
.product1{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 428px;
    gap: 10px;
}
.product2{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 428px;
    gap: 10px;
}

.products img {
    height: 300px;
    width: 428px;
    object-fit: cover;
    border-radius: 13px;
}

.products h1 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.products p {
    font-size: 16px;
    font-weight: 500;
}

.showcase{
    height: 70vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showcase-frame{
    height: 60vh;
    width: 79vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(130, 69, 48, 0.7)
}
.image-gallery{
    height: 55vh;
    width: 75vw;
    overflow: scroll;
    display: flex;
    gap: 20px;
}
.image-gallery img{
    border-radius: 10px;
}
.video{
    display: flex;
    height: 40vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8vh;
}
.ytembed{
    flex: 1;
    display: flex;
    justify-content: center;
}
.video p{
    display: flex;
    justify-content: center;
    flex: 1;
    height: 40vh;
    width: 40%;
    text-align: center;
    padding: 50px 0;
}

.about {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: auto;
    margin-bottom: 8vh;
}

.about-section{
    height: 50%;
    width: 50%;
}

.contact-us {
    display: flex;
    justify-content: space-around;
    height: 70vh;
    width: auto;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-us-form {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 500px;
    padding: 20px;
    /* border: 3px #2fdf8d;
    border-style: solid; */
    margin: 0px 20px;
}

.contact{
    text-align: start;
    flex: 1;
    padding: 40px 0px;
    
}
.contact-card{
    height: 80%;
    width: 70%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    padding: 5vh 5vw
}
.btn2{
    color: #F3F3F3;
    background-color: #0E0E0E;
    height: 52.653999999999996px;
    width: 208.748px;
    border-radius: 14.525px;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    margin-top: 1.5vh;
}
.form input{
    height: 4vh;
    width: 20vw;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 10px;
    padding: 0 15px;
}

